VITE_SUPABASE_URL=https://srfaeqhepmogxsdiympq.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_zjwJgUjvYlh6F_ltZOXEHQ_lbINP1L9
VITE_AUTH_REDIRECT_URL=https://srfaeqhepmogxsdiympq.supabase.co/functions/v1/auth-callback
